BasedOnStyle: Google
Standard: Cpp11
IndentWidth: 2
ColumnLimit: 120
AccessModifierOffset: -2
NamespaceIndentation: All
IndentCaseLabels: false
BinPackArguments: false
SortUsingDeclarations: false
BreakBeforeBinaryOperators: NonAssignment
SpacesBeforeTrailingComments: 1
DerivePointerAlignment: true
PointerAlignment: Right
AlignTrailingComments: false
SpacesInContainerLiterals: false
AllowShortFunctionsOnASingleLine: None
IncludeBlocks: Preserve